@using ContactPro.Services.Interfaces;
@model IEnumerable<ContactPro.Models.Category>
@inject IImageService _ImageService

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@foreach (var item in Model)
{
    <div class="card my-3">
        <div class="card-body">
            <div class="card-title">
                <h3>@item.Name</h3>
            </div>
            <div class="text-muted fs-6">
                There @(item.Contacts.Count == 1 ? "is 1 contact" : $"are {item.Contacts.Count} contacts")
                in this category
            </div>
            <div class="d-flex">
                @foreach (Contact contact in item.Contacts)
                {
                    <div class="square-img-container m-2" style="height: 60px; width: 60px;"
                 data-bs-toggle="tooltip" data-bs-title="@contact.FullName" data-bs-placement="bottom">
                        <img class="square-img" src="@_ImageService.ConvertByteArrayToFile(contact.ImageDate!, contact.ImageType!)">
                    </div>
                }
            </div>
            <div class="d-flex justify-content-end">

                <a class="mx-3 btn btn-outline-info" asp-action="Edit" asp-route-id="@item.Id">
                    <i class="fs-3 bi bi-pencil-square"></i>
                </a>

                <a class="mx-3 btn btn-outline-secondary" asp-action="Details" asp-route-id="@item.Id">
                    <i class="fs-3 bi bi-newspaper"></i>
                </a>

                <a class="mx-3 btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">
                    <i class="fs-3 bi bi-trash"></i>
                </a>

            </div>
        </div>
    </div>
}


@section scripts {

    <script>
        let message = '@(ViewBag.SwalMessage)';

        if (!message.includes("Error") && message != '') {

            Swal.fire({
                backdrop: false,
                icon: 'success',
                title: message,
                showConfirmButton: true
            });

        } else if (message.includes('Error')) {

            Swal.fire({
                backdrop: false,
                icon: 'error',
                title: 'Oops !',
                text: message
            });


        }
    </script>
}

